@font-face {font-family: lcdfamily; src: url(lcdfamily.ttf);}

html {
	height: 100%;/*
	background: #e2e2e2; 
	background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 46%, #d1d1d1 74%, #fefefe 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(46%,#dbdbdb), color-stop(74%,#d1d1d1), color-stop(100%,#fefefe)); 
	background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 46%,#d1d1d1 74%,#fefefe 100%);
	background: -o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 46%,#d1d1d1 74%,#fefefe 100%);
	background: -ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 46%,#d1d1d1 74%,#fefefe 100%); 
	background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 46%,#d1d1d1 74%,#fefefe 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); */
} 

body {
	background: url(../img/footer_lodyas.png);
	background-repeat: repeat;
}

#recorder {
	padding: 0;
}
.rotateimg {
	display: block;
	border-radius: 50%;
	position: absolute;
	top: 0px;
	width: 49.5%;
}

#vk_like {
	display: none;
	margin-bottom: 10px;
}

#hist1 {
	font-weight: bold;
}

#answers {
	margin-bottom: 7px;
}

#new_game {
	padding: 5px 5px;
	margin:0;
}


